.div1{
    padding: 10px;
    display: flex;
  border: 1px solid red;
  justify-content: space-around;


}

.form{
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 20px;
    max-width: 300px;
    height: 100px;
}